/*
File: Utilities
Description: Commonly used styles
Author: Mradi Kenya <hello@mradi.co.ke>
Date: 19/Jan/2021
*/


/**
Table of Contents
1. Backgrounds
2. Overlays
3. Text
4. Buttons
**/





/* 1. Backgrounds
------------------------------------ */
.bg  {
  &-primary  {
    @include set-bg-color($primary-color);
  }


  &-light  {
    @include set-bg-color($light-color);
    border: 1px solid #ccc;
  }


  &-dark  {
    @include set-bg-color($dark-color);
  }


  &-success  {
    @include set-bg-color($success-color);
  }


  &-danger  {
    @include set-bg-color($danger-color);
  }
  

  &-white  {
    @include set-bg-color(white);
    border: 1px solid #ccc;
  }
}





/* 2. Overlays
------------------------------------ */
.dark-overlay  {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
}





/* 3. Text Styles
------------------------------------ */
.x-large  {
  font-size: 4rem;
  line-height: 1.2;

  margin-bottom: 1rem;
}


.large  {
  font-size: 3rem;
  line-height: 1.2;

  margin-bottom: 1rem;
}


.lead  {
  font-size: 1.5rem;

  margin-bottom: 1rem;
}





/* 4. Buttons
------------------------------------ */
.btn  {
  display: inline-block;
  @include set-bg-color($light-color);
  
  padding: 0.4rem 1.3rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;

  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in;


  &:hover  {
    background: lighten($dark-color, 20%);
    color: set-text-color($dark-color);
  }


  &-primary  {
    @include set-bg-color($primary-color);
    

    &:hover  {
      background: lighten($primary-color, 8%);

    }
  }


  &-light  {
    @include set-bg-color($light-color);


    &:hover  {
      background: darken($light-color, 8%);
    }
  }


  &-dark  {
    @include set-bg-color($dark-color);


    &:hover  {
      background: lighten($dark-color, 5%);
    }
  }


  &-success  {
    @include set-bg-color($success-color);

    &:hover  {
      background: lighten($success-color, 5%);
    }
  }


  &-danger  {
    @include set-bg-color($danger-color);

    &:hover  {
      background: lighten($danger-color, 8%);
    }
  }
}
